header>h1{
    margin:10; 
    padding:10px;
    background-color: yellowgreen;
}

.content{
    display: flex;
}
.section{
    flex:20%;
    width:30%; 
    height: 800px; 
    float:left; 
    background-color:yellow;
}

.aside {
    flex:80%;
    width: 70%; 
    height: 800px; 
    float:right; 
    background-color: red;
}